{% extends "core/skeleton.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block extra_head %}
  {% if not scan.is_complete %}
    <!-- refresh every 1 seconds if not complete -->
    <meta http-equiv="refresh" content="1">
  {% endif %}
{% endblock %}
{% block title %}Scan{% endblock %}
{% block body %}
  <main>
    <div class="container px-4 py-4">
      <div class="row gy-4">
        <div class="col-lg-9 d-flex flex-column gap-4">
          <!-- Main content -->
          <!-- At a glance / summary-->
          <div class="card">
            <div class="card-body d-flex flex-column gap-2">
              <div class="h5 d-flex flex-row flex-wrap gap-2 align-items-center">
                <i class="bi bi-search me-2"></i>
                Report summary
                <small class="text-body-secondary">
                  {{ scan.friendly_url_display }}
                </small>
              </div>

              <div class="d-flex flex-row gap-2 align-items-center">
                <span class="badge rounded-pill text-bg-info">
                  {{ scan.get_status_display }}
                </span>
                <small class="text-muted">
                  Updated {{ scan.last_updated_at|naturaltime }}
                </small>
              </div>

              <!-- Actions-->
              <div class="d-flex flex-row gap-2 align-items-center mt-2">
                <button class="btn btn-primary btn-sm" form="re-scan-form" {% if not scan.is_complete %}disabled{% endif %}>
                  <i class="bi bi-arrow-repeat"></i> 
                  Request a re-scan
                </button>
              </div>

              <!-- Action forms, hidden -->
              <div class="d-none">
                {% crispy re_scan_form %}
              </div>

              <!-- Issue counts-->
              <div class="d-flex flex-row flex-wrap gap-2 align-items-center mt-2">
                <div class="card flex-fill bg-danger">
                  <div class="card-body">
                    <h6 class="card-subtitle mb-2">
                      <i class="bi bi-exclamation-triangle me-1"></i>
                      Vulnerabilities
                    </h6>
                    <p class="card-text">{{ scan.num_vulnerabilities }}</p>
                  </div>
                </div>
                <div class="card flex-fill bg-warning text-dark">
                  <div class="card-body">
                    <h6 class="card-subtitle mb-2">
                      <i class="bi bi-flag me-1"></i>
                      Warnings
                    </h6>
                    <p class="card-text">{{ scan.num_warnings }}</p>
                  </div>
                </div>
                <div class="card flex-fill">
                  <div class="card-body bg-info text-dark">
                    <h6 class="card-subtitle mb-2">
                      <i class="bi bi-info-circle me-1"></i>
                      Notices
                    </h6>
                    <p class="card-text">{{ scan.num_info }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Issues -->
          <div class="card">
            <div class="card-body">
              <p class="h5">
                <i class="bi bi-flag me-2"></i>
                Issues
              </p>
              {% render_table issues_table %}
            </div>
          </div>

          <!-- Subscribe for email alerts -->
          <div class="card">
            <div class="card-body">
              <a class="h5 d-flex flex-row align-items-center text-decoration-none" data-bs-toggle="collapse" href="#collapseSubscriptionForm">
                <i class="bi bi-envelope me-2"></i>
                Subscribe for email alerts
                <i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <div class="collapse" id="collapseSubscriptionForm">
                <div class="d-flex flex-column gap-2">
                  {% crispy subscription_form %}

                  <small class="text-muted">
                    Scans are run daily at 9am Eastern. You'll only receive an email if a vulnerability is found.
                  </small>
                </div>
              </div>
            </div>
          </div>

          <!-- Scan debug log -->
          <div class="card">
            <div class="card-body">
              <a class="h5 d-flex flex-row align-items-center text-decoration-none" data-bs-toggle="collapse" href="#collapseDebugLog">
                <i class="bi bi-bug me-2"></i>
                Dynamic scan results
                <i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <div class="collapse" id="collapseDebugLog">
                <div class="d-flex flex-column gap-2">
                  <p>
                    During the dynamic scan, the following requests were collected:
                  </p>

                  {% render_table dynamic_scan_requests_table %}
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-3 d-flex flex-column gap-4">
          <!-- Progress sidebar-->
          <div class="card">
            <div class="card-header">Progress</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                <span>Queued</span>
                <i class="bi bi-check"></i>
              </li>
              <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                <span>Running</span>
                {% if scan.started_at %}
                  <i class="bi bi-check"></i>
                {% endif %}
              </li>
              <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                <span>Finished</span>
                {% if scan.finished_at %}
                  <i class="bi bi-check"></i>
                {% endif %}
              </li>
            </ul>
          </div>

          <!-- Grade -->
          <div class="card">
            <div class="card-header">Grade</div>
            <ul class="list-group list-group-flush">
              {% for grade in "ABCDF" %}
                <li class="list-group-item">
                  {% if scan.grade == grade %}
                    <span class="badge rounded-pill text-bg-info">{{ grade }}</span>
                  {% else %}
                    {{ grade }}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>

          <!-- Stats sidebar-->
          <!-- TODO use a for loop to reduce repetition -->
          <div class="card">
            <div class="card-header">Page stats</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                <span>DOMContentLoaded</span>
                {% if scan.is_complete %}
                  <span>{{ scan.dynamicscanresults.dom_content_loaded_after }}ms</span>
                {% else %}
                  <i class="bi bi-three-dots"></i>
                {% endif %}
              </li>
              <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                <span>Load</span>
                {% if scan.is_complete %}
                  <span>{{ scan.dynamicscanresults.load_after }}ms</span>
                {% else %}
                  <i class="bi bi-three-dots"></i>
                {% endif %}
              </li>
              <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                <span>Network idle</span>
                {% if scan.is_complete %}
                  <span>{{ scan.dynamicscanresults.network_idle_after }}ms</span>
                {% else %}
                  <i class="bi bi-three-dots"></i>
                {% endif %}
              </li>
              <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                <span>Requests</span>
                {% if scan.is_complete %}
                  <span>{{ scan.dynamicscanresults.num_requests }}</span>
                {% else %}
                  <i class="bi bi-three-dots"></i>
                {% endif %}
              </li>
              <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                <span>Total size</span>
                {% if scan.is_complete %}
                  <span>{{ scan.dynamicscanresults.size|filesizeformat }}</span>
                {% else %}
                  <i class="bi bi-three-dots"></i>
                {% endif %}
              </li>
            </ul>
          </div>

          <!-- Links-->
          <div class="card">
            <div class="card-header">Links</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="bi bi-link-45deg me-2"></i>
                <a href="{% url 'scan_detail' scan.uuid %}">Report permalink</a>
              </li>
              <li class="list-group-item">
                <i class="bi bi-book me-2"></i>
                <a href="{% url 'docs' %}">Docs</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </main>
{% endblock %}
